<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"></head>

    <body style="background: url(https://eggeducacion.com/static/bg_home-2600dc8b76b198d706547ebb0d4118dc.png)">
        <div class="container">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    <h4 class="alert-heading" th:text="'Error' + ${codigo}">Biblioteca Egg</h4>
                    <p th:text="${mensaje}"></p>
                </div>
            </div> 
        </div>
        
    </body>
</html>
