<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head"></head>
<body> <!--style="background: url(https://eggeducacion.com/static/bg_home-2600dc8b76b198d706547ebb0d4118dc.png)"-->
<nav th:replace="/fragments/navbar :: nav"></nav>

<div class="container d-flex flex-column justify-content-center align-items-center p-2">

    <h1 class="light mb-3" th:if="${session.usuariosession != null}"
        th:text="'Hola ' + ${session.usuariosession.nombre} + '!'"></h1>
    <p class="fs-4">Este es tu Dashboard</p>

    <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" class="rounded-circle d-block profile-image"
         alt="img log">


    <a class="btn btn-warning fs-4 mt-3" th:href="@{/perfil}" role="button">Modifica tus datos</a>

</div>




<!-- Footer -->
<nav th:replace="/fragments/footer :: nav"></nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>
